/* Write your CSS code below to make the blue items size, grow and shrink like the green ones.
https://appbrewery.github.io/flexbox-sizing-exercise/
*/

.container {
    justify-content: space-between;
  }
    
  .container > * {
  
  }
  
  .item1 {
  flex-basis: 200px;
  }
  
  .item2 {
  flex-basis: 200px;
  flex-shrink: 0;
  }
  
  .item3 {
  flex-basis: 400px;
  flex-shrink: 0;
  }